/* h3{
    /* border: 4px solid red;
    border-radius: 20px; */
    /* border-width: 4px;
    border-style: solid;
    border-color:green; */
    /* border-bottom: 4px solid red;
    border-top: 4px solid red; 
} */

/* h3, img{
    border: 4px solid magenta;
} */

/* div{
    border: 8px dotted blue;
}
li{
    border: 3px solid black;
} */

/* p{
    border: 4px solid brown;
}
span{
    border: 4px solid black;
} */

h2{
    border: 4px solid red;
    padding: 10px;
    /* padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-right: 40px; */
    /* padding: 40px;
    padding: 20px 40px; */
    /* padding: 20px 30px 40px 50px; */

    /* margin-top: 100px;
    margin-left: 50px;
    margin: 50px 40px 30px 20px; */
    width: 500px;
    margin: 50px auto;
    background: lightblue;
}