@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    background-color: lightgrey;
    text-align: center;
    padding: 20px 0px;
}
h3{
    text-transform: uppercase;
}
main{
    width: 1000px;
    margin: 0px auto;
}
div{
    border: 2px solid grey;
    padding: 10px;
}